<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="1">
	<parameter name="environment" value="staging" />
	<parameter name="UpdateTestRail" value="no" />

	<test name="Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="org.stockwell.tests.LoginTest">
				<methods>
					<include name="verifyLoginPageAsSuperUser"/>
				</methods>
			</class>
		</classes>
	</test> 
</suite> 