# Eclipse IDE files
.project
.classpath
.settings/
.metadata/

# IntelliJ IDEA files
.idea/

# Gradle files
.gradle/
build/
.gradle-wrapper.jar
gradle-wrapper.properties

# Java build artifacts
/bin/
/out/
/target/

# TestNG and Selenium specific files
*/test-output/
test-output/
logs/
screenshots/
*.log

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Other temporary files
*.class
*.log
*.tmp
*.swp
